.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: right;

  position: fixed;
  background-color: white;
  top:0;
  right:0;
  left:0;
  
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:  #f8f9fa;

  z-index: 100;
  cursor: pointer;

  background-color: #6c757d;
}

.right-header{
  width: 180px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  font-family: Roboto , Arial;
  font-size: 16px;
}

.contact{
  margin-left: 30px;
}
